@charset "UTF-8";

/* GENERAL */
* {
 margin: 0;
 padding: 0
}
body {
 font-family: Helvetica, Arial, sans-serif;
 font-size: 14px;
 color: #969696;
 background-color: #333;
 background-image: url(../images/fondo-general.jpg);
 background-repeat: no-repeat;
 background-position: center top;
 /* background-size:100% 100%; */
}
a {
 text-decoration: none;
}
img {
 max-width: 100%;
 height: auto;
}
.interior {
 width: 95%;
 max-width: 1200px;
 margin: 0 auto;
 display: block;
 overflow: hidden
}
.clear {
 clear: both
}
.celeste{color: #00E0DF}

/*HEADER*/

#header {
 overflow:hidden;
}
#header h1 {
 width: 70%;
 padding: 25px 0 5px 0;
}

/* TODO: EMPIEZA LO NUEVO */

#noEliminar {
  font-size: 1em;
}

#iconoLogueado {
  text-align: center;
  vertical-align: middle;
}

.login-box {
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-weight: normal;
  background-color: #333;
  float: right;
  /* padding: 5px 0px; */
  margin: 40px 0px 15px 0px;
	border-radius: 5px;
}

.log{
	text-align: center;
	vertical-align: middle;
	padding: 5px 10px;
	/* display: inline-block; */
	/* border-bottom: 2px solid #00E0DF; */
}

.log-on{
	border-bottom: 2px solid #00E0DF;
}

.color-gris{
	color: gray;
}
.color-rojo{
	color: #dd2233;
}

.container-inversores {
	border:2px solid #ccc;
	width:400px;
	height: 100px;
	overflow-y: scroll;
	background-color: white;
}

.ocultar {
  display: none;
}

/* TODO: TERMINA LO NUEVO */

/*NAV*/

nav {
 background-color: #333;
 overflow: hidden;
 padding: 15px 0
}
#nav ul {
 margin: 0;
 padding: 0;
}
#nav ul li {
 list-style: none;
 float: right;
}
#nav ul li a {
 padding-left: 25px;
 color: #999
}
#nav ul li a:hover {
 color: #FFF
}
#nav ul li a.current {
 color: #00E0DF
}
#nav ul li a.current1 {
 color: #FFF
}


/*CONTENT*/

.slider {
 margin-bottom: 10px;
 margin-top: 10px
}
.obra-1, .obra-2, .obra-3 {
 width: 32%;
 overflow: hidden;
 float: left;
 margin-right: 2%
}
.last {
 margin-right: 0
}
.cabezal-obra {
 background-image: url(../images/fondo-obras.jpg);
 overflow: hidden;
}
.cabezal-obra h2 {
 float: left;
 width: 70%;
 padding: 70px 0 10px 15px;
 font-weight: lighter;
 display: block;
}
.cabezal-obra h2 a {
 color: #D9D9D9;
}
.cabezal-obra h2 a:hover {
 color: #FFFFFF
}
.cabezal-obra .numero {
 display: block;
 float: right;
 width: 20%;
 text-align: right;
}

/*INTERIOR*/
.info-interior {
 display: block;
 overflow: hidden;
 padding: 30px 0 60px 0;
}
.col-1 {
 float: left;
 width: 31.5%;
 overflow: hidden
}
.col-1 h2 {
 font-size: 30px;
 font-weight: lighter;
 line-height: 26px;
 height: 180px;
}
.col-1 h2.tit-submenu {
 font-size: 30px;
 line-height: 30px;
}
.col-2 {
 float: right;
 width: 66%;
 padding-left:2%;
 overflow: hidden;
 border-left: solid 1px #666
}
.col-2 p {
 line-height: 25px
}
.col-2 p a {
 color: #00E0DF
}

label, input, span {
  font-weight: bold;
  color: green;
}

/*FOOTER*/
footer {
 height: 100px;
 background-color: #333;
 display: block;
 }
footer .footer .interior-footer {
 width: 95%;
 max-width: 1200px;
 margin: 0 auto;
 display: block;
 overflow: hidden;
 border-top: solid 1px #666;
}
.interior-footer p {
 width: 32%;
 display: block;
 float: left;
 padding: 20px 0;
 font-size: 11px
}
.interior-footer p a {
 color: #00E0DF
}
.logo-footer {
 float: right;
 width: 30%;
 text-align: right;
 padding: 15px 0
}

@media screen and (max-width: 1000px) {

#nav ul li {
 float: right;
 width: 25%;
}
#nav ul li a {
 padding-left: 0px;
}
}
@media screen and (max-width: 620px) {

#nav ul li {
 float: right;
 width:50%;
 padding-bottom:5px
}
#nav ul li a {
 padding-left: 0px;
}
.col-1 {
 float: none;
 width:100%
}
.col-1 h2 {
 font-size: 30px;
 font-weight: lighter;
 line-height: 26px;
 height: 70px;
}
.col-1 h2.tit-submenu {
 font-size:30px;
 line-height:30px;
 color:#00E0DF;
 padding-top:20px
}
.col-2 {
 float: none;
 width: 100%;
 overflow: hidden;
 border-left: none;
 padding-left:0;
}
}

@media screen and (max-width: 500px) {

body {
 background-image: url(../images/fondo-general-small.jpg);
}
#header h1 {
 width: 100%; text-align:center
}
#nav ul li {
 float: right;
 width:50%;
 padding-bottom:5px
}
.obra-1, .obra-2, .obra-3 {
 width: 100%;
 float: none;
 margin-right: 0%
}
.col-1 {
 float: none;
 width:100%
}
.col-1 h2 {
 font-size: 30px;
 font-weight: lighter;
 line-height: 26px;
 height: 70px;
}
.col-2 p {
 font-size:16px;
 line-height: 25px
}
 footer {
 height: 120px;
}
.info-interior {
 display: block;
 overflow: hidden;
 padding: 0px 0 40px 0;
}
.cabezal-obra h2 {
 font-size:30px;
 padding: 50px 0 10px 15px;
}
#header h1 img{
max-width: 80%;
 height: auto;
}
.interior-footer p {
 width: 100%;
 display: block;
 float: none;
 padding: 20px 0;
 font-size: 14px;
 text-align:center
}
.logo-footer { display:none
}
@media screen and (max-width: 300px) {
#nav ul li {
 float:none;
 width:100%;
 padding-bottom:5px; text-align:center
}
}
